body{
    display: flex;
    justify-content: center;
    background-color:aliceblue

}
main{
    background-color:pink;
    border: 1px solid pink;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    height: 65vh;

    
}
.botoes{
    background-color:rgb(228, 121, 157);
    padding: 15px;
    border-radius: 20px;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;


}
h1{
    text-align: center;
    background-color: aliceblue;

}
h2{
    text-align: center;
    background-color: aliceblue;
}
